<% provide(:title, "All Organizations") %>

<%= form_with url: organizations_path, skip_enforcing_utf8: true, method: :get, local: true do |f| %>
  <%= f.label :name, "Find Organization" %>
  <%= f.text_field :name, id: :name, value: params[:name], autofocus: true %>
  <%= f.submit "Search", name: nil %>
<% end %>

<%= button_to "View All", organizations_path, method: :get %>


<div class="wrapper">
  <% if @search_name %>
    <h1 class="results-header">
      <%= "#{pluralize(@search_result_count, 'result')} for '#{@search_name}'" %>
    </h1>
  <% end %>
  <%= render @organizations %>
</div>
